.vs/
obj/
bin/
Debug/
Debug_64/
Release/
Release_64/
*.zip
*.dll
*.exe
*.pdb
*.cache
*.idb
*.tlog
*.lnk
*.obj
*.res
*.lib
*.sys
*.log
*.pch
*.lastbulidstate
*.exp
*.ilk
*.pdb
*.config
*.xml
*.diagsession
*.iobj
*.ipdb
*.enc
*.ini
*.dmp
